# Unity 
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
TestReports

# Unity?
*.pidb
*.csproj
*.unityproj
*.booproj

# Mac
*.DS_Store

# Unity? MonoDevelop?
*.svd
*.user
*.userprefs
*.userprefs.meta
*.suo
*.sln
*.sln.meta
*.orig.meta

# sublime
*.sublime-project
*.sublime-workspace

#others
xcode/
*.orig
.*.sw[a-z]
*~

